.imagediv{
    position: relative;
  text-align: center;
  display: flex;
  margin: auto;
  width: 208px;
  height: 150px;
  color: white;
  overflow: hidden;
  z-index: 1;
}

.buttonToTopRight {
  display: none;
  position: absolute;
  background-color: rgba(26, 24, 24, 0.753);
  right: -6%;
  top: 15%;
  transform: translate(-50%, -50%);
  border-radius: 7px;
}

.imageContainer{
width: 208px;
height: 160px;
background-color: white;
border: 1px black dashed;
border-radius: 2px;
text-align: center;
display: flex;
margin: 10px 0px;
z-index: 999;
}

.imageContainer:hover  .buttonToTopRight{
display: block;
}
.imageContainer:hover {
background-color: rgba(10, 10, 10, 0.1);
}

.imageContainerDiv{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.imageContainer2{
  width: 208px;
  height: 160px;
  background-color: white;
  border: 1px black dashed;
  border-radius: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 7px 7px;
  align-items: center;
  z-index: 999;
  }